.headBg1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(images/header1_bg1.gif);
	background-repeat: repeat-x;
	text-align: left;
	vertical-align: bottom;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	text-decoration: none;
}
.headBg2 {
	background-image: url(images/header1_bg2.gif);
	text-align: left;
	padding: 0px;
	width: 194px;
}
.headBg3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-image: url(images/header1_bg3.gif);
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
.headBg4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url(images/header1_bg4.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	width: 194px;
}
.headLeftWidth {
	padding: 0px;
	width: 14px;
	border: 0px none;
}
.logo {
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 134px;
	border: 0px none;
}
.headMid {
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 37px;
	border: 0px none;
	vertical-align: top;
}
.headRight {
	text-align: right;
	margin: 0px;
	padding: 0px;
	width: 14px;
	border: 0px none;
}
    .meadMenu {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        padding: 2px;
        border: 0px none;
        background-color: #8398A6;
    }

    .meadMenu:hover {
        color: #F0A82A;
    }

.headBase {
	background-image: url(images/header1_baseline.gif);
	background-repeat: repeat-x;
	text-align: left;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	height: 7px;
}
.bodystyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: center;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
.sidemenuGreen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #9DC34F;
	margin: 0px;
	padding: 2px 0px;
	border: 0px none;
	text-align: left;
	vertical-align: middle;
}
.sidemenuBorder {
	margin: 0px;
	padding: 0px;
	border-top: 0px none #758B9A;
	border-right: 1px solid #758B9A;
	border-bottom: 0px none #758B9A;
	border-left: 1px solid #758B9A;
}
.sidemenuWhiteLeft {
	background-image: url(images/sidemenu_white_left.gif);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
.sideMenuGreyLeft {
	background-image: url(images/sidemenu_grey_left.gif);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
.sideMenuMid {
	background-image: url(images/sidemenu_grey_mid.gif);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
.sideMenuGreyRight {
	background-image: url(images/sidemenu_grey_right.gif);
	background-repeat: repeat-y;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
.sidemenuWhiteright {
	background-image: url(images/sidemenu_white_right.gif);
	background-repeat: repeat-y;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	width: 7px;
	text-align: right;
	vertical-align: top;
	background-attachment: scroll;
}
.sidemenuGreen2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #9DC34F;
	margin: 0px;
	padding: 2px 0px;
	border: 0px none;
	text-align: left;
	vertical-align: middle;
	background-image: url(images/side_green.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
.sidemenuWhiteBg {
	background-color: #F2F5F7;
	text-align: left;
	vertical-align: middle;
	list-style-position: inside;
	list-style-type: disc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.sidemenuWhiteBg:hover {
    
}
.sidemenuLeftlinegreen {
	background-color: #9CC34F;
	background-image: url(images/sidemenu_leftgreenline.gif);
	background-repeat: repeat-y;
	background-position: left top;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
.sidemenuRightline {
	background-color: #9CC34F;
	background-image: url(images/sidemenu_rightgreenline.gif);
	background-repeat: repeat-y;
	background-position: right top;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
.bulletStyle {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
line-height: 2em;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: #000000;
text-decoration: none;
text-indent: 5px;
list-style-position: outside;
list-style-image: url(images/bullet.gif);
list-style-type: square;
padding: 0px;
margin: 2px;
}
.sideGrey {
	text-align: center;
	vertical-align: top;
	margin: 0px;
	width: 168px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 2px;
	border: 0px none;
	background-color: #8398A6;
}
.mainBody {
	background-color: #E1E5E8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: left;
	padding: 5px;
	vertical-align: top;
	border-style: groove;
    border-width: 0px 1px 0px 0px;
}
.footerBg {
	background-image: url(images/footerbg1.gif);
	background-repeat: repeat-x;
	background-position: left top;
	text-align: right;
	vertical-align: middle;
	padding: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	height: 32px;
}
.whitetable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
}
.greyHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #999999;
	text-align: left;
	vertical-align: middle;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	border: 0px none;
	font-weight: bold;
}
.greyHeadRight {
	margin: 0px;
	padding: 0px;
	width: 6px;
	border: 0px none;
}

.fieldName {
    background-color: #9DC34F;
}

.rightGreyBorder{
	width: 8px;
	padding: 0px;
	border: 0px none;
	background-color: #8398A6;
	text-align: right;
	vertical-align: top;
}

INPUT[type=text], INPUT[type=password] {
        background: #F7FDEA;
        border: #EBCFE7 ;
        border-style: groove;
        border-width: 1px;
        width : 100px;
        font-size : 12px;
        color : #404040;
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
        font-weight: 400;
        vertical-align: middle;
        }
		
INPUT[type=submit],INPUT[type=reset],INPUT[type=button]  {
        background: #E1DDEE;
        border: #818181 ;
        border-style: outset;
        border-width: 1px;
        font-size : 11px;

        color : #404040;
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
        font-weight: 580;
        vertical-align: middle;
        }

INPUT[type=checkbox]{
        background: #E1DDEE;
        border: #818181 ;
        border-style: groove;
        border-width: 1px;
        font-size : 8px;

        color : #404040;
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
     //   font-weight: 580;
        vertical-align: middle;
}

.checkBox{
        background: #E1DDEE;
        border: #818181 ;
        border-style: groove;
        border-width: 1px;
        font-size : 8px;

        color : #404040;
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
     //   font-weight: 580;
        vertical-align: middle;
}

SELECT
{       background: #F7FDEA;
        font-size: 11px;
        color: #006699;

        border-style: outset;
        border-width: 1px;
        font-size : 11px;

        color : #404040;
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
        font-weight: 580;
        vertical-align: middle;
        }

INPUT[type=checkbox]{
        background: #E1DDEE;
        border: #818181 ;
        border-style: groove;
        border-width: 1px;
        font-size : 8px;

        color : #404040;
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
     //   font-weight: 580;
        vertical-align: middle;
}
		
SELECT
{       background: #F7FDEA;
        font-size: 11px;
        color: #006699;
		border-style: groove;
		
        font-family: Arial, Helvetica, sans-serif;
        border: 1px #bbbbbb;
		vertical-align: middle;
}

.border1        {
                        border:solid 1px #CCCCCC;
                        padding:2px
                }

textarea.color{
    background: #F7FDEA;
}

    textarea.search{
        background-color: #FFFFFF;
        border: groove 1px #CCCCCC;
        height: 70px;
        width: 190px;
        
    }

    table.searchForm{
         background-color: #C1D0DD;
         border:solid 1px #8398A6;
         padding:2px
         
         
    }
    
.formStyle { font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px; color: #404040; border: 1px solid #EBCFE7;
	background-color: #F7FDEA; width: 100px;
 }

.cellTitleBg{
	bgcolor : #CDD9F2;
    background:  #CDD9F2;
}
 
 .cellBg{
    bgcolor: #E1ECFB;
	background: #E1ECFB;
 }

.cellBg2{
     bgcolor:    #F2F8FD;
	background: #F2F8FD;
}



        a:link { 
            font-family: Verdana, Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: #000000;
        }

        a:visited
        {       font-family: Verdana, Arial, Helvetica, sans-serif;
                color: #999999;
                text-decoration: none;
        }

        a:hover, a:active
        {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #F0A82A;
            text-decoration: none;
        }
pre {
font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
      border: solid 1px #CCCCCC;
    background-color: white;
    padding: 10px;
  }
